@mixin uft-basic-grouped (
  $content: ".uft-content",
  $group: ".uft-group",
  $offClass: "uft-off",
  $onClass: "uft-on",
  $efface: false
) {

  #{$group}.#{$offClass} #{$content} {
    @if $efface {
      display: none;
    } @else {
      @include hide-visually;
    }
  }

}

@mixin uft-basic-scattered (
  $content: ".uft-content",
  $offClass: "uft-off",
  $onClass: "uft-on",
  $efface: false
) {
  #{$content}.#{$offClass} {
    @if $efface {
      display: none;
    } @else {
      @include hide-visually;
    }
  }
}

@mixin uft-modal (
  $container: ".modal-container",
  $content: ".modal-content",
  $offClass: "uft-off",
  $efface: true
) {

  #{$container} {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    &.#{$offClass} {
      @if $efface {
        display: none;
      } @else {
        @include hide-visually;
      }
    }
    // center popup, both ways
    text-align: center;
    &:before {
      vertical-align: middle;
      display: inline-block;
      height: 100%;
      content: "";
    }
  }

  #{$content} {
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    max-width: 37em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-height: 90%;
    overflow: auto;
    @media only screen and (max-width: 39em) {
      width: 90%;
    }
  }

}


@mixin uft-popup (
  $width: 15em,
  $background: #eee,
  $content: ".popup-content",
  $group: ".popup-group",
  $onClass: "uft-on",
  $offClass: "uft-off",
  $triangle: 0.75em,
  $efface: true
) {

  @include uft-basic-grouped($content, $group, $offClass, $onClass, $efface);

  #{$group} {
    display: inline-block;
    position: relative;
  }
  #{$content} {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: $width;
    background: $background;

    // triangle above
    margin-top: $triangle;
    &:before {
      content: "";
      border-width: $triangle;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $background;
      position: absolute;
      top: -($triangle * 2);
      left: 1em;
    }
  }

}