* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 20em;
}

.hide-visually,
.tab-content.uft-off,
.nav > li:not(.is-active) > .subnav {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.carousel-c {
  height: 20em;
  position: relative;
  overflow: hidden;
}

.carousel-i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 7em;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  display: none;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-i.uft-on {
  display: block;
}

.carousel-i.uft-on.uft-trans {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.carousel-i.uft-on.uft-trans-off {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 3;
}

.carousel-i.m-1 {
  background: gray;
}

.carousel-i.m-2 {
  background: blue;
}

.carousel-i.m-3 {
  background: red;
}

.carousel-btn {
  position: absolute;
  bottom: 1em;
  z-index: 10;
}

.carousel-btn.m-next {
  right: 1em;
}

.carousel-btn.m-prev {
  left: 1em;
}

.carousel-trackers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 9;
}

.carousel-trackers > li {
  display: inline-block;
}

.carousel-tracker {
  background: black;
  border: none;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.carousel-tracker:not(.uft-off-trans).uft-on {
  background: white;
  color: black;
}

.tab-triggers {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-triggers:after {
  content: "";
  display: block;
  clear: both;
}

.tab-triggers li {
  float: left;
  padding: 1em;
  border-top: 1px solid;
  border-right: 1px solid;
}

.tab-triggers li:first-child {
  border-left: 1px solid;
}

.tab-content-area {
  background: white;
  border: 1px solid;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.tab-content {
  -webkit-transform: translateX(150%);
  -ms-transform: translateX(150%);
  transform: translateX(150%);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
}

.tab-content.uft-trans {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.tab-content.uft-trans-off {
  -webkit-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  transform: translateX(-150%);
}

.accordion-content {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.accordion-trigger {
  margin: 0;
  padding: 0.5em;
}

.accordion-trigger:before {
  float: right;
  content: "V";
}

.accordion-trigger .inner-close {
  display: none;
}

.accordion-item {
  border: 2px solid;
  margin-bottom: 0.3em;
  padding: 0 1em;
  width: 300px;
}

.accordion-btns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.accordion-btn {
  display: inline-block;
  border: 1px solid;
  padding: 0.5em 1em;
}

.accordion-btn.uft-on {
  background: blue;
  color: white;
}

.accordion-item.uft-trans .accordion-content {
  opacity: 1;
}

.accordion-item.uft-trans .accordion-trigger .inner-close {
  display: block;
}

.accordion-item.uft-trans .accordion-trigger .inner-open {
  display: none;
}

.accordion-item.uft-trans .accordion-trigger:before {
  content: "X";
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.nav > li {
  float: left;
  position: relative;
}

.nav > li > a {
  border: 1px solid;
  display: block;
  padding: 0 2em;
  height: 4em;
  line-height: 4em;
}

.nav > li > .subnav {
  padding: 0;
  background: gray;
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 4em;
  width: 7em;
}

.nav > li > .subnav > li {
  border: 1px solid;
}

.nav > li > .subnav > li:not(:first-child) {
  border-top: none;
}

.nav > li > .subnav > li > a {
  display: block;
  padding: 1em;
}

.nav > li > .subnav {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.nav > li.is-active {
  z-index: 10;
}

.nav > li.uft-trans > .subnav {
  opacity: 1;
}

#test-input {
  height: 2em;
  padding: 0 1em;
  width: 5em;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.uft-on #test-input {
  width: 15em;
}

.test-input-label {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 3em;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.uft-on .test-input-label {
  width: 0;
}

.popup-g {
  display: inline-block;
  position: relative;
}

.popup-t {
  background: blue;
  color: white;
  border: none;
  -webkit-appearance: none;
  padding: 0 2em;
  height: 4em;
  line-height: 4em;
  font-size: 1em;
}

.popup-c {
  background: gray;
  color: white;
  border-radius: 5px;
  width: 20em;
  padding: 1em;
  position: absolute;
}

.popup-c:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em;
}

.popup-c.m-above {
  bottom: 5em;
  left: 50%;
}

.popup-c.m-above:before {
  border-color: gray transparent transparent gray;
  left: 0.3em;
  bottom: -1em;
}

.popup-c.m-below {
  top: 5em;
  left: 50%;
}

.popup-c.m-below:before {
  border-color: transparent transparent gray gray;
  left: 0.3em;
  top: -1em;
}

.popup-c.m-right {
  right: -23em;
  top: 0;
}

.popup-c.m-right:before {
  border-width: 0.5em 1em 0.5em 0;
  border-color: transparent gray transparent transparent;
  left: -1em;
  top: 50%;
}

.popup-off .popup-c {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal-container {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.modal-container:before {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  content: "";
}

.modal-container.uft-on {
  display: block;
}

.modal-container.uft-trans {
  opacity: 1;
}

.modal-popup {
  background: white;
  padding: 1em;
  max-width: 600px;
  display: inline-block;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
}

.modal-popup.uft-trans {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.modal-popup.uft-trans-off {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

@media only screen and (max-width: 600px) {
  .modal-popup {
    width: 90%;
    left: 5%;
  }
}