.tab-triggers {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-triggers:after {
  content: "";
  display: block;
  clear: both;
}

.tab-triggers li {
  float: left;
  padding: 1em;
  border-top: 1px solid;
  border-right: 1px solid;
}

.tab-triggers li.uft-on {
  background: gray;
}

.tab-triggers li:first-child {
  border-left: 1px solid;
}

.tab-content-area {
  background: white;
  border: 1px solid;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.tab-content.uft-off {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.accordion-content {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.accordion-trigger {
  margin: 0;
  padding: 0.5em;
}

.accordion-trigger:before {
  float: right;
  content: "V";
}

.accordion-trigger .inner-close {
  display: none;
}

.accordion-item {
  border: 2px solid;
  margin-bottom: 0.3em;
  padding: 0 1em;
  width: 300px;
}

.accordion-item.uft-on .accordion-content {
  opacity: 1;
}

.accordion-item.uft-on .accordion-trigger .inner-close {
  display: block;
}

.accordion-item.uft-on .accordion-trigger .inner-open {
  display: none;
}

.accordion-item.uft-on .accordion-trigger:before {
  content: "X";
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.nav > li {
  float: left;
  position: relative;
}

.nav > li > a {
  border: 1px solid;
  display: block;
  padding: 0 2em;
  height: 4em;
  line-height: 4em;
}

.nav > li > .subnav {
  padding: 0;
  background: gray;
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 4em;
  width: 7em;
}

.nav > li > .subnav > li {
  border: 1px solid;
}

.nav > li > .subnav > li:not(:first-child) {
  border-top: none;
}

.nav > li > .subnav > li > a {
  display: block;
  padding: 1em;
}

.nav > li > .subnav {
  left: -9999px;
  z-index: -1;
}

.nav > li.is-active > .subnav {
  left: 0;
  z-index: 5;
}