/* accordion */

.accordion-item {
  border: 2px solid;
  margin-bottom: 0.3em;
  padding: 0 1em;
  width: 300px;
}
.accordion-content {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.accordion-item.uft-on .accordion-content {
  opacity: 1;
}
.accordion-trigger {
  margin: 0;
  padding: 0.5em;
}
.accordion-trigger .inner-close {
  display: none;
}
.accordion-trigger:before {
  float: right;
  content: "V";
}
.accordion-item.uft-on .accordion-trigger:before {
  content: "X";
}
.accordion-item.uft-on .accordion-trigger .inner-close {
  display: block;
}
.accordion-item.uft-on .accordion-trigger .inner-open {
  display: none;
}


/* tabs */

.tab-triggers {
  margin: 0;
  padding: 0;
}
.tab-triggers li {
  display: inline-block;
  padding: 0 1em;
  border: 1px solid;
}
.tab-triggers li.uft-on {
  background: gray;
}

.tab-content-area {
  position: relative;
}

.tab-content {
  display: none;
}
.tab-content.uft-on {
  display: block;
}

/* popup */

.popup-group {
  display: inline-block;
  position: relative;
}
.popup-btn {
  height: 50px;
}
.popup-content {
  display: none;
  background: white;
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  border: 1px solid;
  padding: 0.3em;
}
.popup-group.is-active .popup-content {
  display: block;
}
.popup-close {
  float: right;
}


.insider-content {
  display: none;
}
.insider-group.uft-on .insider-content {
  display: block;
}