.carousel-c {
  height: 20em;
  position: relative;
  overflow: hidden;
}

.carousel-i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 7em;
  font-weight: bold;

  transition: transform 0.4s linear;
  display: none;
  transform: translateX(100%);
  &.uft-on {
    display: block;
    &.uft-trans {
      transform: translateX(0);
    }
    &.uft-trans-off {
      transform: translateX(-100%);
      z-index: 3;
    }
  }

  &.m-1 {
    background: gray;
  }
  &.m-2 {
    background: blue;
  }
  &.m-3 {
    background: red;
  }
}

.carousel-btn {
  position: absolute;
  bottom: 1em;
  z-index: 10;
  &.m-next {
    right: 1em;
  }
  &.m-prev {
    left: 1em;
  }
}

.carousel-trackers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
  }
  position: absolute;
  bottom: 1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 9;
}

.carousel-tracker {
  background: black;
  border: none;
  color: white;
  border-radius: 5px;
  transition: all 0.5s linear;
  &:not(.uft-off-trans).uft-on {
    background: white;
    color: black;
  }
}