.modal-container {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 1000;
  &.uft-on {
    display: block;
    opacity: 1;
  }
  transition: opacity 0.2s linear;
  &.uft-on-trans,
  &.uft-off-trans {
    opacity: 0;
  }
  text-align: center;
  &:before {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    content: "";
  }
}

.modal-popup {
  background: white;
  padding: 1em;
  max-width: 600px;
  display: none;

  transform: translateY(0);
  transition-property: transform opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  &.uft-on {
    display: inline-block;
  }
  &.uft-on-trans,
  &.uft-off-trans {
    transform: translateY(-200px);
    opacity: 0;
  }
  &.uft-off-trans {
    transition-delay: 0;
  }

  @media only screen and (max-width: 600px) {
    width: 90%;
    left: 5%;
    transform: translateY(-50%);
  }
}