.popup-g {
  display: inline-block;
  position: relative;
}

.popup-t {
  background: blue;
  color: white;
  border: none;
  -webkit-appearance: none;
  padding: 0 2em;
  height: 4em;
  line-height: 4em;
  font-size: 1em;
}

.popup-c {
  background: gray;
  color: white;
  border-radius: 5px;
  width: 20em;
  padding: 1em;

  position: absolute;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5em;
  }
  &.m-above {
    bottom: 5em;
    left: 50%;
    &:before {
      border-color: gray transparent transparent gray;
      left: 0.3em;
      bottom: -1em;
    }
  }
  &.m-below {
    top: 5em;
    left: 50%;
    &:before {
      border-color: transparent transparent gray gray;
      left: 0.3em;
      top: -1em;
    }
  }
  &.m-right {
    right: -23em;
    top: 0;
    &:before {
      border-width: 0.5em 1em 0.5em 0;
      border-color: transparent gray transparent transparent;
      left: -1em;
      top: 50%;
    }
  }

  .popup-off & {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}