* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-bottom: 20em;
}

@import "carousel";
@import "tabs";
@import "accordion";
@import "navigation";
@import "input";
@import "popup";
@import "modal";
