---
title: Basic Popup
filetitle: popup-basic
category: popup
---

<div id="popup">
  <div class="popup-group uft-group uft-off">
    <button class="popup-trigger uft-trigger">Toggle Popup</button>
    <div class="popup-content">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
  </p>
</div>

<script>
  var popup = new UnfinishedToggler({
    root: '#popup',
    outsideTurnsOff: true
  });
</script>